	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #191919;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 11pt;
		font-weight: 400;
		color: black;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		width: 1200px;
		margin: 0px auto;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 2em;
		color: rgba(255,255,255,.3);
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 2em;
		text-align: center;
	}
	
	.major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 700;
		color: #3f3f3f;
	}

	.major .byline
	{
		display: block;
		padding-top: 0.1em;
		font-weight: 200;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3f3f3f;
	}

	.title .byline
	{
		display: block;
		padding-top: 0.5em;
		font-weight: 300;
		font-size: 1.1em;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: #2A70E8;
		border-radius: 8px;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	width: 100%;
		background: #2A4575;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 1.5em 0em;
		background: #3C3C3C url('images/logo.gif') no-repeat ;
		background-size: 100px 90px;
		/* text-transform: uppercase;*/
	}

	#logo h1
	{
		text-align: center;
		font-weight: 400;
		font-size: 2.5em;
	}
	
	#logoinner{
		display: block;
		text-align: center;
	}
	
	#logoinner a
	{
		font-weight: 400;
		font-size: 2.5em;
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #E4E4E4;
		text-decoration: none;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 1px 0px 1px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
		border-radius: 30px;
		border: 1px solid;
		border-color: rgba(255,255,255,.2);
	}
	
	#menu a:hover
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		background: #EEEEEE;
	}

	#page
	{
		overflow: hidden;
		padding: 6em 0em;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 588px;
		text-align: center;
	}
	
	#content .title
	{
		padding: 1em 2em 2em 2em;
		text-align: center;
	}
	
	#content h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	#footer
	{
		overflow: hidden;
		padding: .6em 0em;
		height: 50px;
		background: #191919;
	}
	
	#footer p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#footer a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 4em 0em;
		background: #FFF;
		min-height: 340px;
	}
	
	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		background: #153874;
		margin: 0px auto 20px auto;
		line-height: 2.5em;
		font-size: 4em;
		text-align: center;
		color: #FFF;
		width: 150px;
		height: 120px;
	}
#featured .icon-data-entry{
background: url('images/icon-data.jpg') no-repeat;
background-size: 130px 110px;
background-position: center;
}

#featured .icon-search{
background: url('images/icon-search.png') no-repeat;
background-size: 120px 100px;
background-position: center;
}

#featured .icon-report{
background: url('images/icon-report.jpg') no-repeat;
background-size: 110px 110px;
background-position: center;
}

#featured .icon-audit{
background: url('images/icon-audit.jpg') no-repeat;
background-size: 100px 110px;
background-position: center;
}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}
	
	.column1,
	.column2
	{
		float: left;
		margin-right: 24px;
	}
	
	.column3
	{
		float: left;
	}
	
	.column4
	{
		float: right;
	}

	
	#featured .sidebar{
	float: left;
		padding: 10px;
		width: 255px;
		height: 400px;
		border: solid 3px #6F6F6F;
	}
	#featured .sidebar li{
		padding: 10px;
		width: 230px;
		height: 45px;
		border: solid 2px #2A4575;
		background: #c1c3c5;
	}
	
	#featured .content-container{
	float: left;
		width: 100%;
		height: 100%;
		border: solid 1px black;
	}
	
	table.layouttable td, table.layouttable td * {
    vertical-align: top;
}
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		padding: 8em 0em 6em 0em;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}
	
	#portfolio .major h2,
	#portfolio .major .byline
	{
		color: rgba(255,255,255,0.9);
	}
	
	#portfolio img
	{
		margin: 0;
		padding: 0;
	}
	
	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-radius: 0px 0px 8px 8px;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}

	#contact .major h2,
	#contact .major .byline
	{
		color: rgba(255,255,255,0.9);
	}
